<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RJ_Music_Store.My.MySettings.rjmstoredbConnectionString"
            connectionString="Data Source=LAPTOP-E350127R;Initial Catalog=rjmstoredb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>